@import "bootstrap";

body {
  background: #e0e0e0;
}

.jumbotron {
  padding-bottom: 10px;
  background: white;

  h1 {
    text-align: center;
  }
}

.sidebar {
  background: white;
  margin-top: -30px;
  padding: 30px;
}

.well {
  background: white;
}

.delete {
  background: transparent;
  border: none;
}

.content a {
  color: black;
}

.card {
  width: 200px !important;
  margin: 5px !important;

  .image {
    height: 225px !important;
    background: rgba(0, 0, 0, 0.0) !important;
  }

  .description {
    height: 50px;
  }

  img {

    position: absolute;
    clip: rect(0px,200px,225px,0px) !important;
  }
}

.ui.buttons .or {
  color: black;
  font-size: 1.25rem;
}

.ui.positive.button {
  background: #c9b6f9;

  &:focus {
    background: #c9b6f9;
  }

  &:hover {
    background: #9d8ace;
  }
}
