<div class='jumbotron'>
  <h1>RoboShop</h1>
</div>
{{outlet}}



{{!-- <div class='row'>
  <div class='col-sm-9'> --}}

  {{!-- </div>
  <div class="col-sm-3 sidebar">
    {{shopping-cart}}
  </div>
</div> --}}
