<div class='jumbotron'>
  {{#link-to 'index'}}<h1>RoboShop</h1>{{/link-to}}
</div>
<div class="ui sidebar vertical menu">
  {{shopping-cart}}
</div>
<div class="pusher">
  {{outlet}}
</div>


{{!-- <div class='row'>
  <div class='col-sm-9'> --}}

  {{!-- </div>
  <div class="col-sm-3 sidebar">
    {{shopping-cart}}
  </div>
</div> --}}
