<div class='container'>
  {{item-page item=model showSidebar="showSidebar"}}
  <div id="review-display">
    {{review-list item=model}}
    {{review-new item=model addReview="addReview"}}
  </div>
</div>
